.doctor-edit-form {
  position: absolute;
  bottom: 100px;
  left: 400px;
  border: 1px solid rgba(211, 211, 211, 0.603);
  box-shadow: 0 0 10px 10px rgba(211, 211, 211, 0.199);
  border-radius: 15px;
  padding: 15px;
  width: 650px;
  min-height: 350px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.doctor-edit-form .save-changes {
  text-align: center;
}
.doctor-edit-main {
  position: relative;
  background-image: url('../../../public/ambulance.jpg');
  background-size: cover;
  object-fit: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
}
.doctor-edit-form Input {
  background-color: rgba(211, 211, 211, 0.041);
  border-color: rgba(211, 211, 211, 0.418);
}
.back {
  background-color: rgba(0, 0, 0, 0.993);
}
.doctor-edit-form p {
  width: 250px;

  color: white;
}
.firstLast {
  display: flex;
  gap: 15px;
}
.loader-on-edit {
  margin-left: 650px;
  margin-top: 250px;
}
