<html>
  <head>
    <style></style>
  </head>
  <body>
    <div class="container">
      <h1>Doctor Booking App</h1>
      <p>First Name:<%=doctor.firstName %></p>
      <p>Last Name:<%= doctor.lastName %></p>
      <p>email id:<%= doctor.email %></p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
        eligendi corporis ad quis veritatis nulla, optio accusantium sunt eum
        nisi eius eos, delectus soluta inventore alias quasi modi saepe facere.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
        eligendi corporis ad quis veritatis nulla, optio accusantium sunt eum
        nisi eius eos, delectus soluta inventore alias quasi modi saepe facere.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati
        eligendi corporis ad quis veritatis nulla, optio accusantium sunt eum
        nisi eius eos, delectus soluta inventore alias quasi modi saepe facere.
      </p>
    </div>
  </body>
</html>
