.myslots {
  background-color: rgb(228, 228, 196);
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px;
  justify-content: center;
}
.slots-cards {
  width: 230px;
  height: 180px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 7px 7px white;
  cursor: pointer;
  padding: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.slots-cards p {
  font-weight: bold;
}
.slots-cards:hover {
  box-shadow: 0 0 5px 5px lightgrey;
}
.slots-cards .butto {
  text-align: center;
}
.butto {
  box-shadow: 0 0 5px 5px whitesmoke;
  border: 1px solid whitesmoke;
}
.butto:hover {
  box-shadow: 0 0 5px 5px lightgray;
}
.butto button {
  width: 230px;
  height: 30px;
  border: 1px solid lightgray;
  cursor: pointer;
}
